# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
mobile/android/app/google-services.json
mobile/ios/Runner/GoogleService-Info.plist

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/app/db/*.db
backend/app/cache/*
!backend/app/cache/.gitkeep
/share/e-music/
